.container {
    display: flex;
    justify-content: space-around;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

h1, h2, h3 {
    text-align: center;
}
